<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precios Finder</title>
    <link href="buscador.component.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="horizontal-gradient">
        <div class="header">
            <img src="../../../assets/logo.jfif" alt="Logo Precios Finder">
            <input type="text" placeholder="Buscador...">
            <button>🔍</button>
        </div>

        <h2>Elige una categoría</h2>
        <div class="categories">
            <div>
                <img src="../../../assets/tecnologia.png" alt="Tecnología">
                <p>Tecnología</p>
            </div>
            <div>
                <img src="../../../assets/supermercado.png" alt="Supermercado">
                <p>Supermercado</p>
            </div>
            <div>
                <img src="../../../assets/hogar.png" alt="Hogar">
                <p>Hogar</p>
            </div>
            <div>
                <img src="../../../assets/vehiculo.png" alt="Autos">
                <p>Vehiculos</p>
            </div>
            <div>
                <img src="../../../assets/moda.png" alt="Moda">
                <p>Moda</p>
            </div>
            <div>
                <img src="../../../assets/belleza.png" alt="Belleza">
                <p>Belleza</p>
            </div>
        </div>

        <h2>Elige las tiendas</h2>
        <div class="stores">
            <div>
                <img src="../../../assets/amazon.png" alt="Amazon">
                <p>Amazon</p>
            </div>
            <div>
                <img src="../../../assets/mercado-libre.png" alt="Mercado Libre">
                <p>Mercado Libre</p>
            </div>
            <div>
                <img src="../../../assets/ebay.png" alt="eBay">
                <p>eBay</p>
            </div>
            <div>
                <img src="../../../assets/aliexpress.png" alt="Aliexpress">
                <p>Aliexpress</p>
            </div>
        </div>

        <div class="filter-btn">
            <button>Filtrar</button>
        </div>
    </div>

</body>
</html>